---
import Form from '../components/Form.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="TTT Shorter URL.">
	<main>
		<Form/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #050505;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
