---
import { PrismaClient } from '@prisma/client';
import Link from './Link.tsx';

let shortURLr = "";
let url = "https://shttt.vercel.app/"
const prisma = new PrismaClient();
if (Astro.request.method === 'POST') {

    // Obtener el URL del formulario
    let inputURL = "";

    const formData = await Astro.request.formData();
    inputURL = formData.get("inputURL") as string;

    // Obtener array de URL convertidas
    const urlConvertedDB: { shortURL: string }[] = await prisma.uRLS.findMany({
      select: {
        shortURL: true,
      },
    });
    const shortUrls = urlConvertedDB.map((urlObject) => urlObject.shortURL);

    // Generar la URL y comprobar que no está repetida
    function generateShortURL() {
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let shortURL = '';
        for (let i = 0; i < 6; i++) {
        shortURL += characters.charAt(Math.floor(Math.random() * characters.length));
        }

    return shortURL;
    }

    let urlConverted = "";
    let isUnique = false;

    while (!isUnique) {
    urlConverted = generateShortURL();
    isUnique = !urlConvertedDB.some(urlObj => urlObj.shortURL === urlConverted);
    }


    await prisma.uRLS.create({
    data: {
      originalURL: inputURL,
      shortURL: urlConverted,
  },
});

    shortURLr = "👉 " + url + urlConverted + " 👈";
    prisma.$disconnect();
}
---

<html>
  <body>
    <div class="form">
      <form method="POST">
        <h1>SHTTT: Your URL Shortener</h1>
        <h2 class="">Introduce your URL</h2>
        <input type="text" id="inputURL" name="inputURL" required />
        <button type="submit" class="btnSubmit">SHORT</button>
        <Link shortURL={shortURLr} client:visible/> 
      </form>
      <h3> If you use the service, you will accept that we store in our database the URL that you introduced, the 6 characters of your short link and an ID to identify it.</h3>
      <slot>
    </div>
  </body>
</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1, h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
}
h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    border: 1px solid blue;
    background-color: rgb(2, 2, 155);
    border-radius: 5px; 
}
input {
    width: 100%;
}
button {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

</style>