---
interface Props {
	shortURL: string;
}

const { shortURL } = Astro.props;

---
<html>
<p id="pLink" style="font-family: &quot;Bebas Neue&quot;, sans-serif; font-weight: 400; font-style: normal; font-size: 1rem; margin-bottom: 1rem; text-align: center; color: white;"></p>
</html>